/**
 * Calendar for managing available dates.
 */

#calConfig .ui-widget-content,
.reservations .ui-widget-content {
	background: inherit;
	border: 1px solid #ddd;
	border-radius: 0px;
    color: #444;
}

#calConfig .ui-widget-content a:hover,
#calConfig .ui-widget-content a:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

#calConfig .ui-widget,
.reservations .ui-widget {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 1em;
}

#calConfig .ui-widget-header {
	margin: 0.1em;
	background: #fff;
	border: none;
	border-radius: 0px;
	color: #23282d;
	font-weight: 600;
}

#calConfig .ui-datepicker td {
	padding: 0.025em;
}

#calConfig .ui-datepicker td.holidays a,
#calConfig .ui-datepicker td.nonworking.holidays a {
	border: 1px solid #d00;
	background: #d00;
	color: #fff
}

#calConfig .ui-datepicker td.startreservation a,
#calConfig .ui-datepicker td.nonworking.startreservation a {
	border: 1px solid #76a91d;
	background: #76a91d;
	color: #fff
}

#calConfig .ui-datepicker td.nonworking a {
	background: #fff;
	border: 1px solid #ddd;
	color: #666;
}

#calConfig .ui-state-active {
	background: #fff;
	color: #444;
	border: 1px solid #ccc;
}

#calConfig .ui-state-default,
#calConfig .ui-widget-content .ui-state-default,
#calConfig .ui-widget-header .ui-state-default {
	border: 1px solid #ddd;
	background: #eee;
	font-weight: 600;
	color: #666
}

#calConfig .ui-widget-header .ui-icon {
	background-image: none;
}

#calConfig .ui-datepicker-prev,
#calConfig .ui-datepicker-next {
	border-radius: 0px;
}

#calConfig .ui-datepicker-prev,
#calConfig .ui-datepicker-next {
	border-radius: 0px;
}

#calConfig .ui-datepicker-prev:hover,
#calConfig .ui-datepicker-next:hover,
#calConfig .ui-datepicker-prev-hover,
#calConfig .ui-datepicker-next-hover {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
}

#calConfig .ui-datepicker-prev:focus,
#calConfig .ui-datepicker-next:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

#calConfig .ui-datepicker .ui-datepicker-prev:before,
#calConfig .ui-datepicker .ui-datepicker-next:before {
	display: inline-block;
	content: '';
	font-size: 1.3em;
}

#calConfig .ui-datepicker .ui-datepicker-prev:before {
	content: '<';
	margin-right: 0.3em;
}

#calConfig .ui-datepicker .ui-datepicker-next:before {
	content: '>';
	margin-left: 0.3em;
}